<div id="block--offers" class="col-12 col-lg-6">
                    <div class="step-title">
                        STEP 1: SELECT PACKAGE
                    </div>
                    <hr class="mt-2">
                    <div class="offers d-flex flex-column">
                    <div class="offer selected" data-package-id="2" data-name="2x Product" data-quantity="2" data-price-total="36.00" data-price-each="18.00" data-price-shipping="0.00" data-shipping-method="2" style="order: -1;">
                    <div class="offer-header d-flex justify-content-between align-items-center border-bottom">
                        <div class="offer-title d-flex align-items-center px-3">
                            <span class="offer-title-text fs-5  text-nowrap">2x Product</span>
                        </div>
                        <div class="px-3 py-3 text-nowrap fs-7 fw-bold">
                            <span class="shipping-cost">FREE</span> SHIPPING
                        </div>
                    </div>
                    <div class="offer-content d-flex align-items-center ps-4 py-2">
                        <div class="offer-content-img">
                            <img src="img/offer-x2.png" class="img-fluid p-image">
                        </div>
                        <div class="offer-content-info pe-2 ms-3">
                            <div class="offer-content-price-each  text-primary">
                                <span class="price-each h4 fw-bold">$18.00</span>
                                <span class="fs-8 fw-light">/each</span>
                            </div>
                            <div class="offer-content-price-orig text-secondary">
                                <s> 
                                Orig
                                    <span class="price-each-retail">$20.00</span>
                                </s>
                            </div>
                            <div class="offer-content-price-total h6 fw-bold text-success">
                                Total:
                                <span class="price-total">$36.00</span>
                            </div>
                        </div>
                       
                    </div>
                    </div><div class="offer" data-package-id="4" data-name="4x Product" data-quantity="4" data-price-total="64.00" data-price-each="16.00" data-price-shipping="0.00" data-shipping-method="2">
                    <div class="offer-header d-flex justify-content-between align-items-center border-bottom">
                        <div class="offer-title d-flex align-items-center px-3">
                            <span class="offer-title-text fs-5  text-nowrap">4x Product</span>
                        </div>
                        <div class="px-3 py-3 text-nowrap fs-7 fw-bold">
                            <span class="shipping-cost">FREE</span> SHIPPING
                        </div>
                    </div>
                    <div class="offer-content d-flex align-items-center ps-4 py-2">
                        <div class="offer-content-img">
                            <img src="img/offer-x4.png" class="img-fluid p-image">
                        </div>
                        <div class="offer-content-info pe-2 ms-3">
                            <div class="offer-content-price-each  text-primary">
                                <span class="price-each h4 fw-bold">$16.00</span>
                                <span class="fs-8 fw-light">/each</span>
                            </div>
                            <div class="offer-content-price-orig text-secondary">
                                <s> 
                                Orig
                                    <span class="price-each-retail">$20.00</span>
                                </s>
                            </div>
                            <div class="offer-content-price-total h6 fw-bold text-success">
                                Total:
                                <span class="price-total">$64.00</span>
                            </div>
                        </div>
                       
                    </div>
                    </div><div class="offer" data-package-id="3" data-name="3x Product" data-quantity="3" data-price-total="51.00" data-price-each="17.00" data-price-shipping="0.00" data-shipping-method="2">
                    <div class="offer-header d-flex justify-content-between align-items-center border-bottom">
                        <div class="offer-title d-flex align-items-center px-3">
                            <span class="offer-title-text fs-5  text-nowrap">3x Product</span>
                        </div>
                        <div class="px-3 py-3 text-nowrap fs-7 fw-bold">
                            <span class="shipping-cost">FREE</span> SHIPPING
                        </div>
                    </div>
                    <div class="offer-content d-flex align-items-center ps-4 py-2">
                        <div class="offer-content-img">
                            <img src="img/offer-x3.png" class="img-fluid p-image">
                        </div>
                        <div class="offer-content-info pe-2 ms-3">
                            <div class="offer-content-price-each  text-primary">
                                <span class="price-each h4 fw-bold">$17.00</span>
                                <span class="fs-8 fw-light">/each</span>
                            </div>
                            <div class="offer-content-price-orig text-secondary">
                                <s> 
                                Orig
                                    <span class="price-each-retail">$20.00</span>
                                </s>
                            </div>
                            <div class="offer-content-price-total h6 fw-bold text-success">
                                Total:
                                <span class="price-total">$51.00</span>
                            </div>
                        </div>
                       
                    </div>
                    </div><div class="offer" data-package-id="1" data-name="1x Product" data-quantity="1" data-price-total="19.00" data-price-each="19.00" data-price-shipping="7.99" data-shipping-method="1">
                    <div class="offer-header d-flex justify-content-between align-items-center border-bottom">
                        <div class="offer-title d-flex align-items-center px-3">
                            <span class="offer-title-text fs-5  text-nowrap">1x Product</span>
                        </div>
                        <div class="px-3 py-3 text-nowrap fs-7 fw-bold">
                            <span class="shipping-cost">7.99</span> SHIPPING
                        </div>
                    </div>
                    <div class="offer-content d-flex align-items-center ps-4 py-2">
                        <div class="offer-content-img">
                            <img src="img/offer-x1.png" class="img-fluid p-image">
                        </div>
                        <div class="offer-content-info pe-2 ms-3">
                            <div class="offer-content-price-each  text-primary">
                                <span class="price-each h4 fw-bold">$19.00</span>
                                <span class="fs-8 fw-light">/each</span>
                            </div>
                            <div class="offer-content-price-orig text-secondary">
                                <s> 
                                Orig
                                    <span class="price-each-retail">$20.00</span>
                                </s>
                            </div>
                            <div class="offer-content-price-total h6 fw-bold text-success" style="display: none;">
                                Total:
                                <span class="price-total">$19.00</span>
                            </div>
                        </div>
                       
                    </div>
                    </div></div>
                    <div class="mb-5">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="border bg-white rounded-3 p-4">
                                    <div class="">
                                        <div class="h5">Order Summary</div>
                                    </div>
                                    <div class="d-flex justify-content-between px-3 pt-2 pb-1 border-bottom text-uppercase fs-7">
                                        <div>Item</div>
                                        <div>Price</div>
                                    </div>
                                    <div class="justify-content-between p-3 d-flex fw-bold">
                                        <div><span class="selected-product-name">2x Product</span> </div>
                                        <div class=" text-secondary"><span class="selected-product-price">$18.00</span><span class="fs-8"> /ea</span></div>
                                    </div>
                                    <div class="rounded-3 p-3 bg-xlight">
                                        <div class="justify-content-between py-2 d-flex fw-bold">
                                            <div>Shipping:</div>
                                            <div><span class="selected-shipping-price text-secondary">FREE</span></div>
                                        </div>
                                        <div class="d-flex justify-content-between pt-1">
                                            <div class=" text-dark fw-bold">Today's Total:</div>
                                            <div><span class="order-summary-total-value fs-5 text-black fw-bold">$36.00</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>